
.red_uppercase_title {
  text-transform: uppercase;
  color: #a60101;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.25px;
  display: block;
}

.red_excerpt_link {
  color: #a60101;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: .5px;
}

.uppercase_accent_text {
  text-transform: uppercase;
  display: block;
  padding: 10px 0;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: .5px;
  color: #212121;
}
